<div class="row" id="margin-top">
    <div class="col-md-4">
        <img id="profilePic" src="https://d3iw72m71ie81c.cloudfront.net/male-5.jpg">
    </div>
    <div *ngFor="let user of users" class="animated slideInRight col-md-6 col-md-offset-2">
      <div class="text-center">
        <h1><u><b>COMPUTER SKILLS</b></u></h1>
          <h1><span class="label label-primary">{{ user.skill1 }}</span> <span class="label label-primary">{{ user.skill2 }}</span> <span class="label label-primary">{{ user.skill3 }}</span> <span class="label label-primary">{{ user.skill4 }}</span> <span class="label label-primary">{{ user.skill5 }}</span> <span class="label label-primary">{{ user.skill6 }}</span> <span class="label label-primary">{{ user.skill7 }}</span> <span class="label label-primary">{{ user.skill8 }}</span> <span class="label label-primary">{{ user.skill9 }}</span> <span class="label label-primary">{{ user.skill10 }}</span> <span class="label label-primary">{{ user.skill11 }}</span> <span class="label label-primary">{{ user.skill12 }}</span> <span class="label label-primary">{{ user.skill13 }}</span> <span class="label label-primary">{{ user.skill14 }}</span> <span class="label label-primary">{{ user.skill15 }}</span></h1>
      </div>
    </div>
  </div>
